<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yhyhealthy">

    <application
        android:name="com.example.yhyhealthy.module.YHYHealthyApp"
        android:allowBackup="true"
        android:icon="@drawable/yhy_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/yhy_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.yhyhealthy.TempRecordActivity"></activity>
        <activity android:name="com.example.yhyhealthy.OvulationRecordActivity" />
        <activity android:name="com.example.yhyhealthy.BreathMonitorActivity" />
        <activity android:name="com.example.yhyhealthy.ShoppingActivity" />
        <activity android:name="com.example.yhyhealthy.TeachVideoActivity" />
        <activity android:name="com.example.yhyhealthy.SymptomActivity" />
        <activity android:name="com.example.yhyhealthy.UserDeviceActivity" />
        <activity android:name="com.example.yhyhealthy.RemoteEditListActivity" />
        <activity android:name="com.example.yhyhealthy.TemperEditActivity" />
        <activity android:name="com.example.yhyhealthy.TemperEditListActivity" />
        <activity android:name="com.example.yhyhealthy.TemperatureAddActivity" />
        <activity android:name="com.example.yhyhealthy.VideoShowActivity" />
        <activity android:name="com.example.yhyhealthy.VideoDetailActivity" />
        <activity android:name="com.example.yhyhealthy.ArticleDetailActivity" />
        <activity android:name="com.example.yhyhealthy.ArticleActivity" />
        <activity android:name="com.example.yhyhealthy.OnLineCallActivity" />
        <activity android:name="com.example.yhyhealthy.ForumActivity" />
        <activity android:name="com.example.yhyhealthy.VideoActivity" />
        <activity android:name="com.example.yhyhealthy.CatalogActivity" />
        <activity android:name="com.example.yhyhealthy.UserChangeVerifiActivity" />
        <activity android:name="com.example.yhyhealthy.ForgetPassActivity" />
        <activity android:name="com.example.yhyhealthy.UserMarriageActivity" />
        <activity android:name="com.example.yhyhealthy.SystemProvisionActivity" />
        <activity android:name="com.example.yhyhealthy.SystemAccountActivity" />
        <activity android:name="com.example.yhyhealthy.UserChangePassActivity" />
        <activity android:name="com.example.yhyhealthy.UserBasicActivity" />
        <activity android:name="com.example.yhyhealthy.PregnancySettingActivity" />
        <activity android:name="com.example.yhyhealthy.UserPeriodActivity" />
        <activity android:name="com.example.yhyhealthy.SystemVideoActivity" />
        <activity android:name="com.example.yhyhealthy.SystemUserActivity" />
        <activity android:name="com.example.yhyhealthy.SystemSettingActivity" />
        <activity android:name="com.example.yhyhealthy.ScanActivity" />
        <activity android:name="com.example.yhyhealthy.RegisterActivity" />
        <activity android:name="com.example.yhyhealthy.PeriodRecordActivity" />
        <activity android:name="com.example.yhyhealthy.PrivacyActivity" />
        <activity android:name="com.example.yhyhealthy.CameraActivity" />
        <activity android:name="com.example.yhyhealthy.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.yhyhealthy.OvulationActivity" />
        <activity android:name="com.example.yhyhealthy.PregnancyActivity" />
        <activity android:name="com.example.yhyhealthy.TemperatureActivity" />
        <activity android:name="com.example.yhyhealthy.PreviewActivity" />
        <activity android:name="com.example.yhyhealthy.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.example.yhyhealthy.yhyBleService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-feature android:name="android.hardware.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

</manifest>